<div class="inner-container">
  <div class="teamBox" ng-repeat="team in teams">
    <div class="logo">
        <img ng-src="{{team.logoPath}}">
    </div>
    <div class="record">
        <h1> Wins: {{team.teamData.wins}} Losses: {{team.teamData.losses}} </h1>
    </div>
    <div class="team-data">
        <div class="game" ng-repeat="game in team.teamData" ng-class="{'even' : $index % 2 === 0}">
            <!-- Each game should end up looking something like this:
        Date: May 29, 1997
        Utah Jazz - 103
        Houston Rockets - 100
      -->
            Date: {{game.createdAt | date}}
            <br /> {{team.homeTeam}} - {{game.homeTeamScore}}
            <br /> {{game.opponent}} - {{game.opponentScore}}
            </br />
        </div>
    </div>
  </div>
</div>
